* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;;
  font-size: 14px;
  line-height: 18px;
  color: #727272;
  margin: 0;
  padding: 0;
  width: 100%; }

h1, h2, h3, h4, h5 {
  display: block;
  font-family: Arial, sans-serif;
  line-height: 1.1em;
  color: #000;
  margin: 0 0 15px; }

h1 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #4d4d4d; }

h2 {
  font-size: 24px;
  text-transform: uppercase; }

h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #4d4d4d; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

p {
  margin: 0 0 20px;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    margin: 0 0 10px; }

a {
  color: #5d83ab;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #496a8c; }

img {
  vertical-align: middle;
  max-width: 100%; }

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
}

.logo {
  float: left;
}

.head-menu {
  position: relative;
  float: right;
}

.menu-open .menu-icon {
    position: fixed;
    left: auto;
    z-index: 101;
}

.menu-open .menu-open-wrap {
  left: 0;
  display: none;
}

.menu-open-wrap {
    left: -100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #70afe0;
    padding: 15px 20px;
    margin-bottom: 0px;
}

.menu-icon {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 30px;
  cursor: pointer;
  display: block;
}

.menu-icon span {
  display: block;
  height: 4px;
  background-color: #585754;
  margin-bottom: 3px;
  border-radius: 1px;
}

.head-nav {
  display: none;
  list-style-type: none;
}

.head-nav li {
  margin-top: 25px;
}

.head-nav li a {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.baner {
  background: url(../img/baner.jpg) no-repeat;
  background-size: 100% 100%;
  min-height: 300px;
  padding-top: 50px;
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 50px;
}

.baner span {
  display: block;
  margin-bottom: 20px;
}

.button {
  text-align: center;
  display: inline-block;
  padding: 5px 35px 5px 30px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 15px;
  position: relative;
}

.baner .button {
  background-color: #4d4d4d;
  color: #fff;
}

.button .icon-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  background: url(../img/sprite.png) no-repeat -111px -86px;
  width: 13px;
  height: 5px;
  margin-top: -2.5px;
}

.button:hover {
  text-decoration: none;
  color: #77aca8;
}

.service {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 50px;
}

.service-bl {
  text-align: center;
  margin-bottom: 50px;
}

.service-icon {
  display: block;
  margin-bottom: 30px;
}

.video-bl {
  text-align: center;
  margin-bottom: 50px
}

.work {
  text-align: center;
  margin-bottom: 50px;
}

.brand-bl {
  margin-bottom: 30px;
}

.brand-bl a {
  position: relative;
  display: inline-block;
}

.brand-hover {
  display: none;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: #575757;
  color: #fff;
}

.brand-bl a:hover .brand-hover {
  display: block;
}

.join-us {
  text-align: center;
  margin-bottom: 50px;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.join-us .button {
  color: #6c6c6c;
  border: 2px solid #6c6c6c;
  margin-top: 20px;
  font-weight: bold;
}

.social {
  text-align: center;
  margin-bottom: 50px;
}

.soc-menu li {
  display: inline-block;
  border: 2px solid #4d4d4d;
  position: relative;
  margin: 0 5px;
}

.soc-menu li a {
  display: block;
  width: 40px;
  height: 40px;
}

.icon-soc-1 {
  background: url(../img/sprite.png) no-repeat -5px -81px;
  width: 12px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -6px;
}

.icon-soc-2 {
  background: url(../img/sprite.png) no-repeat -25px -81px;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -10px;
}

.icon-soc-3 {
  background: url(../img/sprite.png) no-repeat -55px -81px;
  width: 20px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -6px;
}

.icon-soc-4 {
  background: url(../img/sprite.png) no-repeat -80px -81px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  background-color: #55acee;
}

.soc-menu li a:hover {
  background-color: #55acee;
}

.footer {
  padding: 50px 0; 
  background-color: #3b3b3b;
  color: #ebebeb;
  font-size: 14px;
  text-align: center;
}

.footer-bl {
  margin-bottom: 40px;
}

.footer-bl span {
  display: block;
  margin-bottom: 5px;
}

.footer-bl a {
  color: #b5b5b5;
}

.footer-bl li {
  list-style-type: none;
}

.location a {
  text-decoration: underline;
}

span.footer-title {
  font-size: 18px;
  display: block;
  color: #fff;
  margin-bottom: 20px;
}

.minima span {
  display: inline-block;
}

.minima a {
  display: inline-block;
  text-decoration: underline;
}












/*@media*/

@media screen and (min-width: 480px) {
 .logo img { width: 100px; }
 .menu-open .menu-open-wrap {
    position: relative;
    display: block;  
    background: none;
    padding: 0;
 }
 .head-nav {display: block;}
 .head-nav li {
    display: inline-block;
    margin: 7px 0 0 10px;
    vertical-align: top;
 }
 .head-nav li a {
  display: block;
  font-size: 14px;
  color: #4d4d4d;
  font-weight: normal;
 }
 .menu-icon { display: none; }
 .brand-bl {
    display: inline-block;
    width: 45%;
    margin: 2%;
    vertical-align: top;
   }
   .footer-bl {
    display: inline-block;
    width: 45%;
    margin: 3% 2%;
    vertical-align: top;
   }
}


@media screen and (min-width: 640px) {
   .logo img { width: 125px; }
   .head-nav li { margin: 12px 0 0 20px; }
   .head-nav li a { font-size: 16px; }
   .baner { min-height: 450px; padding-top: 150px;  }
   h1 { font-size: 30px; }
   .baner span { font-size: 16px; margin-bottom: 50px; }
   .button { min-width: 200px; padding: 8px;}
   .service-bl {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    vertical-align: top;
   }
   .service { margin-bottom: 80px; }
   h2 { font-size: 30px; margin-bottom: 40px; }
   .video-bl p { font-size: 16px; margin-bottom: 40px; }
   .soc-menu li { margin: 0 15px; }
   .soc-menu li a { width: 66px; height: 66px; }
}

@media screen and (min-width: 768px) {
   .header { padding: 50px 0; }
   .head-nav li { margin-left: 35px; }
   .baner { min-height: 550px; padding-top: 200px; margin-bottom: 100px }
    h1 { font-size: 40px; }
    .button { font-size: 18px; min-width: 250px; font-weight: bold; }
     .brand-bl {
    width: 22%;
    margin: 1%;
   }
   .work { margin-bottom: 100px; }
   .join-us { margin-bottom: 100px; padding: 80px 0; }
     .footer-bl {
    display: inline-block;
    width: 21%;
    margin: 0 1%;
    vertical-align: top;
   }
   .footer { text-align: left; }
}

@media screen and (min-width: 980px) {
  .head-nav li { margin-left: 50px;}
  .baner { min-height: 650px; padding-top: 250px; }
   h1 { font-size: 50px; }
   .button { min-width: 300px; padding: 10px; }
   .soc-menu li { margin: 0 30px; }
}

@media screen and (min-width: 1170px) {

}